.statistics_title{
    width: 100%;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: red;
    font-size: 20px;

}
.statistics_box{
    width: 100%;
    height: 665px;
    display: flex
}
.span_statis{
    font-size: 16px;
}
.left{
    width: 40%;
    height: 665px;
    text-align: center;
}
.statistics_input{
    width: 350px;
    margin-top: 60px;
}
.ant-select-enabled{
    width: 250px !important;
}
.ant-select-selection{
    width:250px;
}

.starts{
    text-align: center;
}

.right{
    width: 60%;
    height: 500px;
    /* margin-top: 50px; */
    /* margin-left: 10%; */
}