.field_big_box {
  width: 100%;
  display: flex;
  .left_box {
    width: 40%;
    height: 100%;
    margin-top: 20px;
    .start_buton {
      margin: 50px 0 0 130px;
    }
  }
  .right_box {
    width: 60%;
    height: 100%;
  }
}

.dynamic-delete-button {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #999;
  transition: all 0.3s;
}
.dynamic-delete-button:hover {
  color: #777;
}
.dynamic-delete-button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

.fieldEmptyStyle {
  line-height: 500px;
}
.loadingBox {
  margin-top: 200px;
}
